<%- include("../partials/header") %>
<div class="container">
    <div class="user-page">
        <form action="/user/login" method="POST">
          <h2 class="mb-4 text-center border-bottom pb-3 text-white">使用者 <span class="text-warning">登入</span></h2>
          <div class="mb-2 text-white">
            <span class="text-danger mr-2">*</span>為必填欄位
          </div>
          <div class="form-group">
            <label for="register-email" class="text-white h5">信箱 :  <span class="text-danger">*</span></label>
            <input type="text" name="email" id="register-email" class="form-control" placeholder="example@examlp.com">
          </div>  
          <div class="form-group">
            <label for="register-password" class="text-white h5">密碼 :  <span class="text-danger">*</span></label>
            <input type="password" name="password" id="register-password" class="form-control" placeholder="Hello World">
          </div>
          <div class="form-group">
            <button class="btn btn-success w-100" type="submit">登入</button>
          </div>
        </form>
        <form action="/auth/facebook" method="GET">
          <button class="btn btn-primary w-100" type="submit">FACEBOOK 登入</button>
        </form>
        <div class="h5 mt-3 mb-0">
          <span class="text-white mr-2">尚未註冊過?</span><a href="/user/register">註冊</a>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>